<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trivia App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <h1>Quiz Completed!</h1>
        <p class="color">
            Your Score: <%= score %> out of <%= totalQuestions %>
        </p>

        <a href="/">Take Another Quiz</a>
    </div>
</body>

</html>